:root {
  /* d3 Colors update color for d33*/
  --d3-background: #181b28 !important;
  --d3-current-line: #79E6F2 !important;
  --d3-selection: #5317c0 !important;
  --d3-foreground: #781423 !important;
  --d3-comment: #b014bd !important;
  --d3-cyan: #8be9fd !important;
  --d3-green: #16c60c !important;
  --d3-orange: #79E6F2 !important;
  --d3-pink: #79E6F2 !important;
  --d3-purple: #79E6F2 !important;
  --d3-red: #79E6F2 !important;
  --d3-yellow: #79E6F2 !important;
  /* Discord Root Colors */
  --background-primary: var(--d3-background) !important;
  --background-secondary: var(--d3-background) !important;
  --background-secondary-alt: var(--d3-background) !important;
  --background-tertiary: var(--d3-background) !important;
  --background-accent: var(--d3-current-line) !important;
  --background-floating: var(--d3-background) !important;
  --background-modifier-selected: var(--d3-current-line) !important;
  --activity-card-background: var(--d3-background) !important;
  --interactive-normal: var(--d3-foreground) !important;
  --channeltextarea-background: var(--d3-selection) !important;
  --rs-online-color: var(--d3-green) !important;
  --rs-idle-color: var(--d3-orange) !important;
  --rs-dnd-color: var(--d3-red) !important;e
  --rs-offline-color: var(--d3-selection) !important;
  --rs-streaming-color: var(--d3-purple) !important;
  --rs-invisible-color: var(--d3-comment) !important;
  --interactive-muted: var(--d3-comment) !important;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  background-color: var(--d3-comment) !important;
}

/* Home */
.container-1D34oG {
  background-color: var(--d3-background) !important;
}

/* Scroll Bar */
.theme-dark
  .scrollerThemed-2oenus.themedWithTrack-q8E3vB
  .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  background-color: var(--d3-selection) !important;
  border: 4px solid var(--d3-background) !important;
  border-radius: 8px !important;
}

/* Syntax Highlighing in Code Blocks*/
code {
  color: var(--d3-foreground) !important;
}
span.hljs-built_in {
  color: var(--d3-purple) !important;
}
span.hljs-keyword {
  color: var(--d3-pink) !important;
}
span.hljs-title {
  color: var(--d3-cyan) !important;
}
span.hljs-attr {
  color: var(--d3-foreground) !important;
}
span.hljs-string {
  color: var(--d3-yellow) !important;
}
span.hljs-number {
  color: var(--d3-purple) !important;
}
span.hljs-symbol {
  color: var(--d3-orange) !important;
}
span.hljs-meta {
  color: var(--d3-foreground) !important;
}
span.hljs-meta-keyword {
  color: var(--d3-pink) !important;
}
span.hljs-meta-string {
  color: var(--d3-orange) !important;
}
